<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
</script>

<template>
  <div>
    <CalComponent />
    <HelloWorldExample />
    <HandlingUserInput />
    <AttributeBindings />
    <ConditionAndLoops />
    <FormBinding />
  </div>
</template>

<style scoped></style>
